.top {
    background-color:aqua;
}

.middle {
    background-color:burlywood;
}

.bottom {
    background-color:chocolate;
}

#about {
    background-color:aqua;
}

#contact {
    background-color:blueviolet;
}

#movie {
    background-color:coral;
}

#birthday {
    background-color:darkgoldenrod;
}